<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.akun.nukasdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".SdkApplication"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".chatbot.presentation.main.ChatBotActivity"
            android:theme="@style/ChatBotAppTheme"
            android:screenOrientation="portrait"/>

    </application>

</manifest>